<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
      <!--Add the following attributes back into the opening nlog tag to troubleshoot logging issues-->
      <!--internalLogLevel="Debug" 
          internalLogFile=".\Logs\NLog_Internal.log"
          throwExceptions="true"
          -->

  <variable name="LogDay" value="${date:format=yyyyMMdd}"/>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="File" name="primary"
            fileName="Logs\WebLog.log"
	          maxArchiveFiles="15"
            createDirs="True"
            archiveNumbering="Sequence"
            archiveAboveSize="10000000"
            archiveFileName=".\Logs\${LogDay}_FR.{#######}.log"
            layout="${date}|${level:uppercase=true}| ${callsite} | ${message}" />
    <target xsi:type="Null" name="BlackHole" formatMessage="false"  />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- Rule to reject (Opt-Out) of these nuisance namespace messages, comment to Opt-In-->
    <logger name="Microsoft.AspNetCore.*" minlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="*" minlevel="Debug" writeTo="primary" />
  </rules>
</nlog>